
.headadditem{
	width: 1000px;
	position: fixed;
	margin-top: 51px;
	margin-left: 225px;
	background: white;
	text-align: center;
	border-color:#d3d3d3;
}
.headadditem2{
	width: 1000px;
	margin-top: 190px;
	padding-left: 0px;
}
.list{
	padding-top: 8px;
	height: 40px;
	background: white;
	text-align: right;
	color: #545252;
}
.affix {
      top: 0;
      width: 100%;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }
 .search{
 	padding:20px;
 }